---
layout: default
title: Research
---

<div class="p-7 sm:px-7 md:px-10 lg:px-20 overflow-auto overscroll-auto flex flex-col flex-grow pb-48 sm:pb-14">
  {% for item in site.data.index.references %}
  <p class="font-bold text-xl sm:text-lg">{{item.title}}</p>

  <div class="pb-10">
    {% bibliography --file {{item.file}} %}
  </div>
  {% endfor %}

  <p class="font-bold text-xl sm:text-lg">{{site.data.index.reviewer.title}}</p>
  <div class="flex flex-col gap-4 py-4 mb-10">

    {% for item in site.data.index.reviewer.journals %}
    <div>
      <p>
        {{item.title}}
      </p>
      {% if item.info %}
      <p class="italic">
        {{item.info}}
      </p>
      {% endif %}
      <div>
        <a class="break-all overflow-ellipsis overflow-hidden underline text-gray-400 hover:text-{{site.color}}-700"
          href="{{ item.link }}" target="_blank" rel="noopener">
          {{item.link}}
        </a>
        &#xe04e;
      </div>
    </div>
    {% endfor %}
  </div>

  <p class="font-bold text-xl sm:text-lg">{{site.data.index.talks.title}}</p>
  <div class="flex flex-col gap-4 py-4 mb-10">

    {% for item in site.data.index.talks.conferences %}
    <div>
      <p>
        {{item.title}} | {{item.venue}}
      </p>
      <p class="italic">
        {{item.talk}}
      </p>
      <div>
        <a class="break-all overflow-ellipsis overflow-hidden underline text-gray-400 hover:text-{{site.color}}-700"
          href="{{ item.link }}" target="_blank" rel="noopener">
          {{item.link}}
        </a>
        &#xe04e;
      </div>
    </div>
    {% endfor %}
  </div>

  <p class="font-bold text-xl sm:text-lg">{{site.data.index.teaching.title}}</p>
  <div class="flex flex-col gap-4 py-4 mb-10">
    {% for item in site.data.index.teaching.activities %}
    <div>
      <div class="items-baseline">
        <span class="">{{item.title}}</span>
        {% if item.date %}
        <span class="text-sm">
          ({{item.date}})
        </span>
        {% endif %}
      </div>
      {% if item.info %}
      <div class="flex flex-col gap-1 pl-3 pt-1">
        {% for subset in item.info %}
        <span class="text-sm italic">
          - {{subset.title}}
          {% if subset.info %}
          <span> | </span>{{subset.info}}
          {% endif %}
          {% if subset.date %}
          <span>({{subset.date}})</span>
          {% endif %}
        </span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>