---
layout: default
---

ALL TAGS
<!-- {% assign tags =  site.projects | map: 'tags' | join: ',' | split: ',' | uniq | join: ';'%} -->
{% assign tags =  site.projects | map: 'tags' | uniq %}

{% for tag in tags %}
  {% assign tag_slug = tag | slugify: "raw" %}
  <a
    href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}
    rel="category tag">
    #{{ tag }}
  </a>
{% endfor %}

</br>
PER TAG

{% for tag in tags %}
  <h3>{{ tag }}</h3>
  <ul>
  {% for project in site.projects %}
    {% if project.tags contains tag %}
    <li><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}


<div>
  All tags:
  <ul>
    {% assign tags = site.projects | all_tags %}
    {% for tag in tags %}
      {% assign tag_slug = tag['name'] | slugify: "raw" %}
      <li>
        <a 
          href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}
          rel="category tag">
          #{{ tag['name'] }} ({{ tag['count'] }})
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

