---
---

@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "_sass/main.scss"; */
/*@import "_sass/variables.scss";*/

@layer base {
    @font-face {
        font-display: block;
        font-family: "Neue Haas Grotesk";
        src: url("../fonts/NeueHaasGrotestText/NeueHaasGroteskText-Regular.woff") format("woff");
        font-style: normal;
        font-weight: normal;
        unicode-range: U+0000-DFFF, U+F900-FFFD;
        font-display: swap;
    }
    @font-face {
        font-display: block;
        font-family: "Neue Haas Grotesk";
        src: url("../fonts/NeueHaasGrotestText/NeueHaasGroteskText-Italic.woff") format("woff");
        font-style: italic;
        font-weight: normal;
        unicode-range: U+0000-DFFF, U+F900-FFFD;
        font-display: swap;
    }
    @font-face {
        font-display: block;
        font-family: "Neue Haas Grotesk";
        src: url("../fonts/NeueHaasGrotestText/NeueHaasGroteskText-Medium.woff") format("woff");
        font-style: normal;
        font-weight: 500;
        unicode-range: U+0000-DFFF, U+F900-FFFD;
        font-display: swap;
    }
    @font-face {
        font-display: block;
        font-family: "Neue Haas Grotesk";
        src: url("../fonts/NeueHaasGrotestText/NeueHaasGroteskText-MediumItalic.woff") format("woff");
        font-style: italic;
        font-weight: 500;
        unicode-range: U+0000-DFFF, U+F900-FFFD;
        font-display: swap;
    }
    @font-face {
        font-display: block;
        font-family: "Neue Haas Grotesk";
        src: url("../fonts/NeueHaasGrotestText/NeueHaasGroteskText-Bold.woff") format("woff");
        font-style: normal;
        font-weight: bold;
        unicode-range: U+0000-DFFF, U+F900-FFFD;
        font-display: swap;
    }
    @font-face {
        font-display: block;
        font-family: "Neue Haas Grotesk";
        src: url("../fonts/NeueHaasGrotestText/NeueHaasGroteskText-BoldItalic.woff") format("woff");
        font-style: italic;
        font-weight: bold;
        unicode-range: U+0000-DFFF, U+F900-FFFD;
        font-display: swap;
    }

    @font-face {
        font-family: Icons;
        src: url(../fonts/IconFont-Regular-0.9.3.woff2);
        unicode-range: U+E000-E15C, U+F0000, U+FE0E;
        font-display: swap;
    }
    @font-face {
        font-family: Icons;
        src: url(../fonts/IconFont-Regular-0.9.3.woff2);
        unicode-range: U+E000-E15C, U+F0000, U+FE0E;
        font-weight: 240;
        font-display: swap;
    }
    @font-face {
        font-family: Icons;
        src: url(../fonts/IconFont-Regular-0.9.3.woff2);
        unicode-range: U+E000-E15C, U+F0000, U+FE0E;
        font-weight: 400;
        font-display: swap;
    }
    @font-face {
        font-family: Icons;
        src: url(../fonts/IconFont-Regular-0.9.3.woff2);
        unicode-range: U+E000-E15C, U+F0000, U+FE0E;
        font-weight: 600;
        font-display: swap;
    }
    @font-face {
        font-family: Icons;
        src: url(../fonts/IconFont-Regular-0.9.3.woff2);
        unicode-range: U+E000-E15C, U+F0000, U+FE0E;
        font-weight: 800;
        font-display: swap;
    }
    @font-face {
        font-family: Icons;
        src: url(../fonts/IconFont-Regular-0.9.3.woff2);
        unicode-range: U+E000-E15C, U+F0000, U+FE0E;
        font-style: italic;
        font-display: swap;
    }
    @font-face {
        font-family: Icons;
        src: url(../fonts/IconFont-Regular-0.9.3.woff2);
        unicode-range: U+E000-E15C, U+F0000, U+FE0E;
        font-style: italic;
        font-weight: 200;
        font-display: swap;
    }
    @font-face {
        font-family: Icons;
        src: url(../fonts/IconFont-Regular-0.9.3.woff2);
        unicode-range: U+E000-E15C, U+F0000, U+FE0E;
        font-style: italic;
        font-weight: 400;
        font-display: swap;
    }
    @font-face {
        font-family: Icons;
        src: url(../fonts/IconFont-Regular-0.9.3.woff2);
        unicode-range: U+E000-E15C, U+F0000, U+FE0E;
        font-style: italic;
        font-weight: 600;
        font-display: swap;
    }
    @font-face {
        font-family: Icons;
        src: url(../fonts/IconFont-Regular-0.9.3.woff2);
        unicode-range: U+E000-E15C, U+F0000, U+FE0E;
        font-style: italic;
        font-weight: 800;
        font-display: swap;
    }

    $backgroundColor: rgb(235, 235, 235);
    $backgroundColor: #fff;

    body {
        background: $backgroundColor;
        font-family: "Neue Haas Grotesk", Icons, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
            sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    h1 {
        @apply text-lg;
    }
    h2 {
        @apply text-base;
    }

    .skip-link {
        position: absolute;
        top: -40px;
        left: 0;
        background: #000000;
        color: white;
        padding: 8px;
        z-index: 100;
    }

    .skip-link:focus {
        top: 0;
    }

    ::-webkit-scrollbar {
        width: 6px !important;
        height: 6px !important;
    }
    ::-webkit-scrollbar-track {
        background: transparent !important;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #d1d5db !important;
        border: none !important;
        border-radius: 3px !important;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #9ca3af !important;
    }

    :root {
        scrollbar-color: #d1d5db transparent !important;
        scrollbar-width: thin !important;
    }

    #nav-icon {
        width: 30px;
        height: 22px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }

    #nav-icon span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #000;
        border-radius: 2px;
        opacity: 0.8;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }

    #nav-icon {
    }

    #nav-icon span:nth-child(1) {
        top: 1px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #nav-icon span:nth-child(2) {
        top: 11px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
        transition: opacity 0.2s;
    }

    #nav-icon span:nth-child(3) {
        top: 21px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #nav-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -1.5px;
        /* left: 4px; */
    }

    #nav-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 19.5px;
        /* left: 4px; */
    }

    @media screen and (min-width: 640px) {
        .flex-important {
            display: flex !important;
        }
    }

    .border-animate {
        position: relative;
    }

    .border-animate:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #2563eb;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    .border-animate:hover:before {
        visibility: visible;
        width: 100%;
    }

    .cursor-wikipedia {
        cursor: url(https://es.wikipedia.org/static/favicon/wikipedia.ico), auto;
    }
}

/*

table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: 100%;
    overflow: auto;
}

table th {
    font-weight: 600;
}
  
table td,
table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}
table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
} 
table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

*/
