---
---

<div class="py-4">

    <div>
        {{reference}}
    </div>

    <div>
        {% if entry.doi %}
        <span>
            <a class="underline text-gray-400 hover:text-{{site.color}}-700"
                href="{{ entry.doi | prepend: 'http://doi.org/' }}" target="_blank">{{ entry.doi}}</a>
            &#xe04e;
        </span>

        {% elsif entry.url %}
        <span>
            <a class="underline text-gray-400 hover:text-{{site.color}}-700" href="{{ entry.url }}" target="_blank">{{
                entry.url }}</a>
            &#xe04e;
        </span>
        {% endif %}
    </div>
</div>